<html>
    <head>

      <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="home.css">
        
        <!-- Google fonts link -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
  <title>home</title>
</head>
<body class="bh1" >
    
     <div >
      <ul class="menu">
        <li><h2 id="heading">DISASTER RELIEF FUND</h2></li>
         <li><a class="he1" href="/">Home</a></li>
         <!-- <li><a class="he1" href="home.html">Fund</a></li> -->
         <li><a class="he1" href="/recovery">Recovery</a></li>
         <li><a class="he1" href="/feedback">Feedback</a></li>
         <li><a class="he1" href="/logout">logout</a></li>
       </ul>
     </div>
    
      

   
        <div class="row ">
          <!-- <div class="container"> -->
          
      <div class=" col-lg-3 col-md-6  firstfour">
        <a href="/registerform"  class="b1" id="to">TORANADOES</a>
      </div>
      <div class=" col-lg-3 col-md-6 firstfour" >
        <a href="/registerform"class="b2" id="e">EARTHQUAKE</a>
      </div>
      <div class=" col-lg-3 col-md-6 firstfour " >
        <a href="/registerform" class="b3" id="ls">LAND SLIDES</a>
      </div>
      <div class=" col-lg-3 col-md-6 firstfour">
        <a href="/registerform" class="b4" id="v">VOLCANOES</a>
      </div>
      
      <div class=" col-lg-3 col-md-6 firstfour" >
        <a href="/registerform" class="b5" id="l">LIGHTNING</a>
      </div>
      <div class=" col-lg-3 col-md-6 firstfour">
        <a href="/registerform" class="b6"  id="f">FLOODS</a>
      </div>
      <div class=" col-lg-3 col-md-6 firstfour">
        <a href="/registerform" class="b7" id="t">TSUNAMIS</a>
      </div>
      <div class=" col-lg-3 col-md-6 firstfour">
        <a href="/registerform" class="b8" id="h">HURRICANES</a>
      </div>
   
    </div>
   
    
      <!-- <div class="bhk">
        <a href="home1.html"><button class="button" >Back to home</button></a>
       </div>    -->
       <!-- <i class="material-icons" style="font-size:30px">public</i> -->
       <!-- <i class="material-icons" style="font-size:36px">warning</i> -->
</body>
  </html>