<html>
    <head>

        <link rel="stylesheet" href="home.css">
        
        <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Google fonts link -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <title>home</title>
</head>
<body  >
  <section id="ho1">

    <div >
     <ul class=" menu1 ">
      <li><h2 id="heading">DISASTER RELIEF FUND</h2></li>
      
        <li><a class="he1" href="/fund">Fund</a></li>
        <li><a class="he1" href="/recovery">Recovery</a></li>
        <li><a class="he1" href="/feedback">Feedback</a></li>
          <li><a class="he1" href="/signin">sign in</a></li>
        <li><a class="he1" href="/signup">sign up</a></li>
      
      </ul>
    </div>
  <!-- <nav class="navbar navbar-expand-lg ">
    <ul class="navbar-nav menu1 ">
    <a class="navbar-brand "><h2 id="heading">DISASTER RELIEF FUND</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
        <li class="nav-item">
          <a class="nav-link he1" href="home.html">Fund</a>
        </li>
        <li class="nav-item">
          <a class="nav-link he1" href="recover.html">Recovery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link he1" href="feedback.html">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link he1" href="sigin.html">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link he1" href="signup.html">Sign up</a>
        </li>
      </ul>
    </div>
  
  </nav> -->
   
  <div class="container">
    <p id="content">DISASTER RELIEF FUND is a registered non-profit organisation committed to provide emergency assistance and long term solutions to victims of disasters.<br>

     MISSION:<br>
     To provide immediate, effective and sustainable support for the victims of natural disasters.<br>
     
     VISION:<br>
     We envision a safer and disaster resilient India.<br>
     
     CORE VALUES:<br>
     All members of our organisation are driven by their passion for disaster management.<br>
     
     We are committed to be open and transparent about what we do and how we do it.<br>
     
     We value honesty, mutual respect and professionalism in all aspects of relationships within us and between our organization and our partners.</p>
  </div>
 <hr>
  <div id="aa" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div   class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  class="img-fluid img-thumbnail" src="dr.jpg" class="d-block w-50" alt="..." height="70%" width="70%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid img-thumbnail" src="Disaster-Relief-page-banner.png" class="d-block w-50" alt="..."height="200%" width="70%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid img-thumbnail" src="homepage_image_5-1.jpg" class="d-block w-100" alt="..."height="70%" width="70%">
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      
    </div>
  </div>
  
  
<div>
 
  </section>
   <footer id="footer">
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fab fa-twitter-square"></i>
    <i class="social-icon fab fa-facebook-square"></i>
    <i class="social-icon far fa-envelope"></i>
    <p> copyright 2021 Vishnu T</p>
  </footer>
  <script>
    function myFunction() {
      var table = document.getElementById("myTable");
      var row = table.insertRow(0);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = "NEW CELL1";
      cell2.innerHTML = "NEW CELL2";
    }
    </script>
</body>
  </html>